<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Friends</h1>
    <p>Friends: <%=friends%></p>
    <p>Pending: <%=pending%></p>
    <p>Received: <%for(let i=0;i < received.length;i++){%> 
        <%=received[i]%>
        <form action="/api/friends/accept" method="POST" name="form">
          <input name="id" value='<%=received[i].split("#")[1]%>'>
          <input type="submit" value="accept">
        </form>
      <%}%>
    </p>
  </body>
</html>
