<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Spadaczka</title>
  </head>
  <body>
    Welcome <%=session.username%>#<%=session.tag%>
    <form action="/api/logout" method="GET" name="form">
      <input type="submit" value="Logout!" />
    </form>
  </body>
</html>
