
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Spadaczka</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://cdn.glitch.com/7be2a22f-833e-486f-b619-08450d781600%2Ficon.png?v=1566767495406" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js" integrity="sha256-i2Orhi397HWPn93rsCUTW8HBoso65vY/VNTllm9Kuqo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/emojionearea.min.css">
    <script type="text/javascript" src="/emojionearea.min.js"></script>
    <script src="/client.js" defer></script>
  </head>
  <body>
    
    <div id="messages">
      
    </div>
    
    <div id="writing_section">
      
      <textarea id="message_input"></textarea>
      
    </div>
    
  </body>
</html>