<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Spadaczka</title>
  </head>
  <body>
    <h1>Login</h1>
    <form action="/api/login" method="POST" name="form">
      <input type="text" name="email" placeholder="Email" id="email" />
      <input
        type="password"
        name="password"
        placeholder="Password"
        id="passwrd"
      />
      <input type="submit" value="Login!" />
    </form>
    <a href="/register">Or create account now!</a>
  </body>
</html>
